<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-2">
            <img src="https://browser-fuchsia-orca-2w6yoogj.ws-us13.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg"
                alt="" class="rounded-circle">
        </div>
        <div class="col-1"></div>
        <div class="col-8 ml-4">
            <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo
                cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>




