<div class="services">
    <div class="row">
        <div class="col-2">
            <img src="/website1/assets/img/2.jpg"
                alt="" class="rounded-circle">
        </div>
        <div class="text-contact col-10">
            <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo
                cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>




