<!-- your html code here -->

<header>
        <div class="container-fluid px-5 text-center my-auto">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="bg-white text-dark text-center mb-3">
                        <h1 class="masthead-heading mb-0">One Page Wonder</h1>
                    </div>
                    <div class="bg-white text-dark text-center">
                        <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
                    </div>
                </div>          
            </div>       
        </div>
</header>